<div class="media">

  <div class="media-left">
    <div class="img-circle media-object">
      <img src="{{model.imageUrl}}">
    </div>
  </div>

  <div class="media-body">
    <h3 class="item-heading">{{model.name}}</h3>
    <div>
      <ul class="list-plain">
        <li>
          <strong>Skills:</strong>
          <span data-test="developer-skills">{{array-to-string model.skills}}</span>
        </li>
        <li>
          <strong>Available:</strong>
          <span data-test="developer-available">{{if model.available 'Yes' 'No'}}</span>
        </li>
        <li>
          <strong>Rate:</strong>
          $<span data-test="developer-rate">{{model.rate}}</span>
        </li>
        <li>
          <strong>Address:</strong>
          <span data-test="developer-address">{{model.address}}</span>
        </li>
        <li>
          <strong>Timezone:</strong>
          <span data-test="developer-timezone">{{model.timezone}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
