<div class="media">

  <div class="media-left">
    <div class="img-circle media-object">
      <img src="http://fillmurray.com/50/50">
    </div>
  </div>

  <div class="media-body">
    <h3 class="item-heading">{{model.name}}</h3>
    <div>
      <ul class="list-plain">
        <li>
          <strong>Skills:</strong>
          {{array-to-string model.skills}}
        </li>
        <li>
          <strong>Available:</strong>
          No
        </li>
        <li>
          <strong>Rate:</strong>
          ${{model.rate}}
        </li>
        <li>
          <strong>Address:</strong>
          {{model.address}}
        </li>
        <li>
          <strong>Timezone:</strong>
          {{model.timezone}}
        </li>
      </ul>
    </div>
  </div>
</div>
