<h3 class="list-group-item-heading">{{model.name}}</h3>
<div class="list-group-item-text">
  <ul>
    <li>
      <strong>Skills:</strong>
      {{array-to-string model.skills}}
    </li>
    <li>
      <strong>Available:</strong>
      No
    </li>
    <li>
      <strong>Rate:</strong>
      ${{model.rate}}
    </li>
    <li>
      <strong>Address:</strong>
      {{model.address}}
    </li>
    <li>
      <strong>Timezone:</strong>
      {{model.timezone}}
    </li>
  </ul>
</div>
