{{#if showModal}}
  {{#modal-dialog targetAttachment="center"
                  translucentOverlay=true}}
    <div class="form-group">
      <label>Name</label>
      {{input class="form-control" value=opportunity.name}}
    </div>

    <div class="form-group">
      <label>From</label>
      {{pikaday-input value=opportunity.dateFrom format="MM/DD/YYYY" class="form-control"}}
    </div>

    <div class="form-group">
      <label>To</label>
      {{pikaday-input value=opportunity.dateTo format="MM/DD/YYYY" class="form-control"}}
    </div>

    <div class="form-group">
      <label>Skills</label>
     {{#power-select selected=opportunity.skills multiple=true options=allSkills onchange=(action (mut opportunity.skills)) onkeydown=(action "createSkill") as |name|}}
        {{name}}
      {{else}}
        Press Enter to Create
      {{/power-select}}
    </div>

    <button onclick={{action 'save'}} class="btn btn-active">Submit</button>
    <button onclick={{action 'closeModal'}} class="btn btn-danger">Cancel</button>
  {{/modal-dialog}}
{{/if}}


{{yield (action 'createModal') (action 'editModal')}}
