<h3 class="item-heading">{{model.name}}</h3>
<ul class="list-plain">
  <li>
    <strong>Skills:</strong>
    {{model.skills}}
  </li>
  <li>
    <strong>Date From:</strong>
    <time>{{moment-format model.dateFrom allowEmpty=true}}</time>
  </li>
  <li>
    <strong>Date To:</strong>
    <time>{{moment-format model.dateTo allowEmpty=true}}</time>
  </li>
</ul>

<div>
  <a onclick={{action editAction}} class="btn btn-default btn-xs">Edit</a>
  <a onclick={{action deleteAction}} class="btn btn-danger btn-xs">Delete</a>
</div>
