<div class="list-group-item-text">
  <h3 class="list-group-item-heading">
    {{model.name}}
  </h3>
  <div>
    {{#if isOpportunityType}}
      <time>
        {{moment-format model.dateFrom allowEmpty=true}}
        {{#if model.dateTo}}- {{moment-format model.dateTo allowEmpty=true}}{{/if}}
      </time>
    {{/if}}
    {{#if isDeveloperType}}
      <time>{{moment-format model.createdAt allowEmpty=true}}</time>
    {{/if}}
  </div>
</div>

<div class="list-group-item-tags">
  {{array-to-string model.skills}}
</div>

<div class="list-group-item-link">
  >
</div>
