<div class="list-group-item-text">
  <h3 class="list-group-item-heading">
    {{model.name}}
  </h3>
  <div>
    {{!--
    {{#if isOpportunityType}}
      <time>
        {{model.dateFrom}}
        {{#if model.dateTo}}- {{model.dateTo}}{{/if}}
      </time>
    {{/if}}
    {{#if isDeveloperType}}
      <time>{{model.createdAt}}</time>
    {{/if}}
    --}}
    <time>Jan, 2016 - June, 2011</time>
  </div>
</div>

<div class="list-group-item-tags">
    Javascript, Reactjs, Nodejs, HTML, UX
  {{array-to-string model.skills}}
</div>

<div class="list-group-item-link">
  go
</div>
