<h3 class="heading-main">Opportunities</h3>
{{#opportunities-form-modal allSkills=allSkills onadd=(action 'addOpportunity') as |createModal editModal|}}
  <a onclick={{action createModal}}>Create New Opportunity</a>
  <ul class="list-two-columns">
    {{#each pagedOpportunities as |opportunity|}}
      {{opportunity-list-item model=opportunity editAction=(action editModal opportunity) deleteAction=(action 'showDeleteOpportunityModal' opportunity)}}
    {{/each}}
  </ul>
{{/opportunities-form-modal }}

{{pagination-bar
  page=page
  totalItemsCount=opportunities.length
  onSelect=(action 'selectPage')
}}

{{#if showDeleteModal}}
  {{#modal-dialog targetAttachment="center"
                  translucentOverlay=true}}
    <p>Are you sure you want to delete this opportunity</p>
    <button onclick={{action 'deleteOpportunity' opportunityToDelete}} class="btn btn-active">Delete</button>
    <button onclick={{action 'closeDeleteOpportunityModal'}} class="btn btn-danger">Cancel</button>
  {{/modal-dialog}}
{{/if}}

