<h3 class="heading-main">Opportunities</h3>
<a onclick={{action 'showCreateModal'}} class="btn btn-success" data-test="opportunity-create-btn">Create</a>
<div class="row">
  <div class="col-lg-6">
    <table class="table table-striped mtl">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </thead>
      <tbody>
        {{#each users as |user|}}
          <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
              {{#if user.isCurrentUser}}
                Logged In User
              {{else}}
                <a onclick={{action 'showDeleteModal' user}} class="btn btn-danger">Delete</a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#if showDeleteModal}}
  {{#modal-dialog targetAttachment="center"
                  translucentOverlay=true}}
    <p>Are you sure you want to delete <b>{{userToDelete.email}}</b></p>
    <button onclick={{action 'deleteUser' userToDelete}} class="btn btn-active">Delete</button>
    <button onclick={{action 'hideDeleteModal'}} class="btn btn-danger">Cancel</button>
  {{/modal-dialog}}
{{/if}}


{{#if showCreateModal}}
  {{#modal-dialog targetAttachment="center"
                  translucentOverlay=true}}
    <h2>Creating a new user</h2>
    <div class="form-group">
      <label>Name</label>
      {{input class="form-control" value=userToCreate.name}}
    </div>
    <div class="form-group">
      <label>Email</label>
      {{input class="form-control" type="email" value=userToCreate.email}}
    </div>
    <button onclick={{action 'createUser'}} class="btn btn-active">Create</button>
    <button onclick={{action 'hideCreateModal'}} class="btn btn-danger">Cancel</button>
  {{/modal-dialog}}
{{/if}}
